#heatmapContainer {
    width: 100%;
    height: 700px;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: auto;
}

#spinner {
    position: relative;
    top: 48%;
    left: 48%;
    visibility: hidden;
}
